DATABASE_URL="postgresql://neondb_owner:npg_w6dePV5rqkpa@ep-frosty-frog-ad1kbxxu-pooler.c-2.us-east-1.aws.neon.tech/vaccination_db?sslmode=require&channel_binding=require"
JWT_SECRET="el texto de uds"
PORT=3000